@model StudentDetailModel

@{
    Layout = "_AdminMainLayout";
}

@if (Model.student != null)
{
    <div class="container-fluid row mx-auto mt-5">
        <div id="studentInfos">
            <form asp-area="Admin" asp-controller="Student" asp-action="Detail">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label class="control-label">Öğrenci Numarası</label>
                    <input class="form-control" readonly asp-for="@Model.student.StudentNo" />
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Ad</label>
                    <input asp-for="@Model.student.Name" class="form-control" />
                    <span asp-validation-for="@Model.student.Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Soyad</label>
                    <input asp-for="@Model.student.Surname" class="form-control" />
                    <span asp-validation-for="@Model.student.Surname" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Fakülte</label>
                    <select asp-for="@Model.student.Faculty" class="form-control">
                        @foreach (Faculty faculty in Model.Faculties)
                        {
                            <option value="@faculty.Name">@faculty.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.student.Faculty" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Bölüm</label>
                    <input asp-for="@Model.student.Department" class="form-control" />
                    <span asp-validation-for="@Model.student.Department" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Sınıf</label>
                    <input asp-for="@Model.student.GradeLevel" class="form-control" />
                    <span asp-validation-for="@Model.student.GradeLevel" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="control-label">Danışman</label>
                    @if (Model.academician != null)
                    {
                        <select asp-for="@Model.student.AdvisorId" class="form-select" aria-label="Default select example">
                            @foreach (Academic academic in Model.academics)
                            {
                                if (academic.AcademicianId == Model.academician.AcademicianId)
                                {
                                    <option value="@academic.AcademicianId" selected>@(Model.academician.Name + " " +  Model.academician.Surname)</option>
                                }
                                else
                                {
                                    <option value="@academic.AcademicianId">@(academic.Name + " " + academic.Surname)</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <input asp-for="@Model.student.AdvisorId" class="form-control"/>
                    }

                </div>
                <div class="d-grid form-group mt-3">
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </div>
            </form>
        </div>

        <div id="note-table-area">
            <form asp-area="Admin" asp-controller="Student" asp-action="Detail" method="post">
                <table class="table table-light table-hover note-details">
                    <thead class="table-dark noselect">
                        <tr>
                            <th class="vertical"><div class="vertical">Ders ID</div></th>
                            <th class="vertical"><div class="vertical">Vize</div></th>
                            <th class="vertical"><div class="vertical">Mazeret</div></th>
                            <th class="vertical"><div class="vertical">Final</div></th>
                            <th class="vertical"><div class="vertical">Bütünleme</div></th>
                            <th class="vertical"><div class="vertical">Ortalama</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Note note in Model.notes)
                        {
                            <tr id="#@note.LessonId">

                                <th scope="row">
                                    <a asp-area="Admin" asp-controller="Lesson" asp-action="Edit" asp-route-id="@note.LessonId">
                                        @note.LessonId
                                    </a>
                                </th>

                                @if (note.MidtermExam != null)
                                {
                                    <td>
                                        <input autocomplete="off" class="form-control" name="mid-@note.LessonId" value="@note.MidtermExam" />
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                @if (note.MakeUpExam1 != null)
                                {
                                    <td>
                                        <input autocomplete="off" class="form-control" name="mk1-@note.LessonId" value="@note.MakeUpExam1" />
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (note.FinalExam != null)
                                {
                                    <td>
                                        <input autocomplete="off" class="form-control" name="fin-@note.LessonId" value="@note.FinalExam" />
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (note.MakeUpExam2 != null)
                                {
                                    <td>
                                        <input autocomplete="off" class="form-control" name="mk2-@note.LessonId" value="@note.MakeUpExam2" />
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <th name="avg-@note.LessonId">@note.Average</th>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-grid">
                    <button class="btn btn-danger" type="submit">Notları Kaydet</button>
                </div>
            </form>
        </div>
    </div>
}

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script>
    let active_index = 2
</script>
