@model IEnumerable<Student>

@{
    Layout = "_AdminMainLayout";
}

<div id="student-search-area" class="search-area mt-3">
    <a asp-area="Admin" asp-action="Create" class="btn btn-outline-primary">Yeni Öğrenci Ekle</a>
    <div class="input-group">
        <input class="form-control search-input" type="search" placeholder="Öğrenci No">
        <button class="btn btn-outline-success search-button" type="button">Ara</button>
    </div>
</div>

<div class="container mt-5">
    <table class="table table-light table-hover">
        <thead class="table-dark noselect">
            <tr class="lh-50">
                <th class="text-c" scope="col">Öğrenci No</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Fakülte</th>
                <th scope="col">Bölüm</th>
                <th class="width-150 text-c" scope="col">Sınıf</th>
                <th class="width-150 text-c" scope="col">Danışman Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student student in Model)
            {
                <tr id="@student.StudentNo">

                    <th class="text-c" scope="row">
                        <a asp-area="Admin" asp-action="Detail" asp-route-id="@student.StudentNo">
                            @student.StudentNo
                        </a>
                    </th>

                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Faculty.Substring(0, student.Faculty.IndexOf("Fak") - 1)</td>
                    <td>@student.Department@*.Substring(0, student.Faculty.IndexOf(" ") - 1)*@</td>
                    <td class="text-c">@student.GradeLevel</td>

                    <td class="text-c">
                        <a class="text-decoration-none" asp-area="Admin" asp-controller="Academic" asp-action="Detail" asp-route-id="@student.AdvisorId">
                            @student.AdvisorId
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    let active_index = 2;
    var base = `${window.location.origin}/Admin/Student`;
</script>